* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

body {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 550px;
    min-width: 230px;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
}


header h1 {
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    font-weight: normal;
}

main {
    margin: 0 auto;
    width: 550px;
    /* border: 1px solid red; */
}

.parent {
    display: flex;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%), 0 25px 50px 0 rgb(0 0 0 / 10%);
    width: inherit;
    background-color: white;
    position: relative;
}

.left-frame {
    padding: 10px;
}

.searchbar {
    flex: 1;
    border: none;
    border-color: none;
    
    font-size: 24px;
}

.searchbar::placeholder {
    font-size: 24px;
    font-style: italic;
    color: rgba(128, 128, 128, 0.459);
}

.searchbar:focus{
    outline : none;
    background-color: white;
}

/* Cross-button */
#button {
    font-size: 30px;
    border: none;
    background-color: white;
    margin-right: 7px;
    visibility: hidden;
}

button:hover {
    cursor: pointer;
}



/* "searchbar" in above  */
.note {
    flex: 1;
    display: inline-block;
    margin-left: 50px;
    padding-left: 2px;
    padding: 1px;
    word-break: break-all;
    /* border: none;
    border-color: none; */
    font-size: 24px;
}

.note:focus {
    flex: 1;
    margin-left: 35px;
    padding: 10px;
    text-indent: 5px;
    outline: none;
    border: 1px solid grey;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}

.container {
    position: relative;
    cursor: pointer;
    padding: 10px;
  }
  
  /* Hide the browser's default checkbox */
  
  .container input {
    position: absolute;
    opacity: 0;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  #checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked~#checkbox:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  /* Creates a backwards L-shape. "rotate" rotates the shape to a checkmark */
  .container #checkbox:after {
    left: 8px;
    top: 3px;
    width: 7px;
    height: 13px;
    border: solid green;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  /* Create a custom checkbox */
  #checkbox {
    position: absolute;
    inset: 1px 0 7px 7px;
    margin: auto 0;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }

input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: #d9d9d9;
}

#remove-list-item {
    position: absolute;
    inset: 0 0 0 515px;
    margin: auto 0;
    width: 30px;
    height: 30px;
    visibility: hidden;
    border: none;
    background-color: transparent; 
    opacity: 50%; 
    font-size: 15px;
    margin-bottom: 10px;
    z-index: 1;
}

.parent:hover > #remove-list-item{
    visibility: visible;
}

aside {
    display: flex;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%), 0 25px 50px 0 rgb(0 0 0 / 10%);
    padding: 0.6rem;
    background-color: white;
    position: relative;
    visibility: hidden;
}

span {
    margin-left: 10px;
    padding: 4px;
}

.filters {
    margin-left: 6rem;
    position: relative;
}

aside button {
    margin-left: 1rem;
    background-color: white;
    border: none;
    padding: 4px;
    /* Empty border to avoid shifting on hover */
    border: 1px solid rgba(0, 0, 0, 0);
}

aside button:hover {
    border: 1px solid rgba(175, 47, 47, 0.15);
    border-radius: 3px;
    
}

aside button:focus {
    border: 1px solid rgba(175, 47, 47, 0.15);
    border-radius: 3px;
}

footer {
    text-align: center;
    color: #bfbfbf;
    margin-top: 50px;
    line-height: 30px;
    font-size: 12px;
}

footer a {
    text-decoration: none;
    color: #bfbfbf;
}

footer a:hover {
    text-decoration: underline;
}




/* .container {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
  } */
  
  /* Hide the browser's default checkbox */
  
  /* .container input {
    position: absolute;
    opacity: 0;
  } */
  
  /* Create the checkmark/indicator (hidden when not checked) */
  /* #checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
   */
  /* Show the checkmark when checked */
  /* .container input:checked~#checkbox:after {
    display: block;
  } */
  
  
  
  /* Create a custom checkbox */
  /* #checkbox {
    position: absolute;
    top: 2px;
    left: 8px;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  } */

  
/* 


.page-note {
    background-color: white;
    margin: 0 auto;
    width: 550px;
    border-top: 1px solid rgba(128, 128, 128, 0.445);
}

#checkbox {
    position: relative;
    left: 10px;
    top: 50px;
    width: 30px;
    height: 30px;
    color: #4d4d4d;
}

#list li {
    margin-bottom: -10px;
    margin-top: -20px;
    list-style: none;
}




input[type="text"] {
    text-align:center;
    font-size: 24px;
    font-style: italic;
    margin-left: 350px;
}

.note {
    font-size: 24px;
    margin-left: 5px;
    color: #4d4d4d;
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
}

.page-note:hover #remove-list-item {
    visibility: visible;
}

#remove-list-item {
    position: relative;
    left: 600px;
    bottom: 40px;
    visibility: hidden;
    border: none;
    background-color: transparent;
    opacity: 50%;
}





.editnote{
  width: 650px;
  height: auto;
  border: transparent;
  border-top: 1px solid grey;
} */

