* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

body {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 550px;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    color: #777;
}

header h1 {
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    font-weight: normal;
}
.parent {
    display: flex;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%), 0 25px 50px 0 rgb(0 0 0 / 10%);
    background-color: white;
    position: relative;
}

.left-frame {
    padding: 10px;
    width: 4rem;
}

.searchbar {
    flex: 1;
    border: none;
    font-size: 24px;
}

.searchbar::placeholder {
    font-size: 24px;
    font-style: italic;
    color: rgba(128, 128, 128, 0.459);
    text-indent: -2px;
}

.searchbar:focus{
    outline : none;
    background-color: white;
}

/* Big blue button */
#button {
    font-size: 30px;
    border: none;
    background-color: white;
    margin-right: 7px;
    visibility: hidden;
}

button:hover {
    cursor: pointer;
}

/* The note layout*/
#todo {
    flex: 1;    
    padding: 10px;
    margin-left: -15px; 
    word-break: break-all;
    font-size: 24px;
    border: 1px solid transparent;
}

#todo:focus {
    width: 501px;
    outline: none;
    border: 1px solid grey;
}

/* Styling for checkboxes */
/* Hide the browser's default checkbox */
.container input {
    /* position: absolute; */
    opacity: 0;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
  #checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  
/* Show the checkmark when checked */
  .container input:checked~#checkbox:after {
    display: block;
  }
  
/* Style the checkmark/indicator */
/* Creates a backwards L-shape. "rotate" rotates the shape to a checkmark */
  .container #checkbox:after {
    left: 8px;
    top: 3px;
    width: 7px;
    height: 13px;
    border: solid green;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
/* Create a custom checkbox */
  #checkbox {
    position: absolute;
    inset: 7px 0 7px 18px;
    margin: auto 0;
    height: 25px;
    width: 25px;
    /* text-align: center; */
    border-radius: 50%;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }

.line-through {
    text-decoration: line-through;
    color: #d9d9d9;
}

#remove-list-item {
    position: absolute;
    inset: 0 0 0 515px;
    margin: auto 0;
    width: 30px;
    height: 30px;
    visibility: hidden;
    border: none;
    background-color: transparent; 
    opacity: 50%; 
    font-size: 15px;
    margin-bottom: 10px;
    /* Places the checkbox "above" the text so the note doesnt block it */
    z-index: 1;
}

.parent:hover > #remove-list-item{
    visibility: visible;
}

footer {
    display: flex;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%), 0 25px 50px 0 rgb(0 0 0 / 10%);
    padding: 0.6rem;
    background-color: white;
    position: relative;
    visibility: hidden;
}

footer span {
    margin-left: 10px;
    padding: 4px;
    min-width: 80px;
    width: 85px;
}

.filters {
    margin-left: 5rem;
    position: relative;
}

footer button {
    margin-left: 1rem;
    background-color: white;
    border: none;
    padding: 3px;
    color: #777;
    /* Empty border to avoid movement on hover */
    border: 1px solid rgba(0, 0, 0, 0);
}

footer button:hover {
    border: 1px solid rgba(175, 47, 47, 0.15);
    border-radius: 3px;
}

/* Instead of :focus. Appiles the class via javascript to the button when clicked */
.clicked {
    border: 1px solid rgba(175, 47, 47, 0.15);
    border-radius: 3px;
}

#clearallcompleted {
    margin-left: 53px;
    visibility: hidden;
    padding: 4px;
    min-width: 80px;
    font-size: 13px;
    border: none;
}

#clearallcompleted:hover {
    text-decoration: underline;
    cursor: pointer;
}

.legal {
    text-align: center;
    color: #bfbfbf;
    margin-top: 50px;
    line-height: 30px;
    font-size: 12px;
}

.legal a {
    text-decoration: none;
    color: #bfbfbf;
}

.legal a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 550px) {

    body {
        display: block;
        margin: 0 auto;
        width: 356px;
    }
    .parent {
        width: 356px;
    }

    .searchbar::placeholder {
        content: "hej";
    }

    footer {
        justify-content: center;
        align-items: center;
        width: 356px;
    }
    
    /* " items left " */
    footer span {
        text-align: center;
        margin-left: 0px;
        padding: 0px;
        min-width: 25px;
        width: 0px;
    }
    
    /* All, Active, Completed */
    .filters {
        display: flex;
        flex-direction: column;
    }
        
    #clearallcompleted {
        margin-right: 0px;
        padding: 0px;
        max-width: 80px;
    }
    
    #clearallcompleted:hover {
        text-decoration: underline;
        cursor: pointer;
    }
